<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_1463992710530" version="2.4">
  <servlet>
    <servlet-name>EnterpriseServlet</servlet-name>
    <servlet-class>com.enterprise.web.controller.EnterpriseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.enterprise.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LeftUIServlet</servlet-name>
    <servlet-class>com.enterprise.web.UI.LeftUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainUIServlet</servlet-name>
    <servlet-class>com.enterprise.web.UI.MainUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EnterpriseRelationServlet</servlet-name>
    <servlet-class>com.enterprise.web.controller.EnterpriseRelationServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.enterprise.web.filter.EncodeFilter</filter-class>
  </filter>
  <servlet-mapping>
    <servlet-name>EnterpriseServlet</servlet-name>
    <url-pattern>/servlet/EnterpriseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeftUIServlet</servlet-name>
    <url-pattern>/servlet/LeftUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainUIServlet</servlet-name>
    <url-pattern>/servlet/MainUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EnterpriseRelationServlet</servlet-name>
    <url-pattern>/servlet/EnterpriseRelationServlet</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>